
<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insert password</label>
        <input type="password" name="password" id="room-pass" placeholder="Insert password">
        <button>
            <img src="images/users-white.svg" alt="Entrar na sala">
            Create room
            </button>
    </form>
</section>