
<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Passcode</label>
        <input type="password" name="password" id="room-pass" placeholder="Passcode">
        <button>
            <img src="images/users-white.svg" alt="Create room">
            Create Room
        </button>
    </form>
</section>