<div class="no-questions">
    <img src="/images/noquestions.svg" alt="No questions">
    <p>No question yet...</p>
    <p>Be the first to make a question and send <br>room code for others people!</p>
</div>